:root {
  --branding-color: #2fc1c4;
  --background-color: #e5f9f9;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "PT Serif", serif;
  --secondary-color: #d9d9d9;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
  padding-left: 0;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #202020;
}
.hero h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 2;
  color: #202020;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 20px;
  color: white;
  font-size: 15px;
  line-height: 27px;
  padding: 15px 25px;
  text-decoration: none;
}
.greeting-image-bg {
  background: var(--secondary-color);
  padding: 60px 40px 0px 0px;
}
.portfolio-image {
  border-left: 10px solid var(--branding-color);
  padding-left: 20px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 28px;
  text-decoration: none;
  border: 1px solid var(--branding-color);
}
.img-city {
  padding: 15px 100px 15px;
  background-color: var(--background-color);
}
.project-description {
  padding-left: 60px;
}

@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .btn-branding-outline {
    margin-bottom: 20px;
  }
}
