:root {
  --branding-color: #2fc1c4;
  --background-color: #e5f9f9;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "PT Serif", serif;
  --secondary-color: #d9d9d9;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.active {
  color: var(--branding-color) !important;
}
.navbar {
  filter: drop-shadow(0 0 0.75rem #a8b1b7);
}
.nav-item {
  padding: 0 15px;
}
.fixed-element {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
  padding-left: 0;
}
.hero p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: #202020;
}
.hero h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
  color: #202020;
}
.about-section {
  padding: 100px 20px;
  background-color: var(--secondary-color);
  margin-bottom: 50px;
}
.about-section h1 {
  font-size: 64px;
}
.about-section h2 {
  font-size: 18px;
  margin: 30px 0;
}
.about-section-content {
  margin: 30px;
  margin-right: 0;
}
.main-info {
  margin-top: 100px;
}
.p-outline {
  margin: 50px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 20px;
  color: white;
  font-size: 15px;
  line-height: 27px;
  padding: 15px 25px;
  text-decoration: none;
}
.btn-branding:hover {
  color: white;
  background: var(--branding-color);
  border-color: var(--branding-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.portfolio-image {
  border-left: 10px solid var(--branding-color);
  padding-left: 20px;
  padding-right: 40px;
  vertical-align: middle;
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 28px;
  text-decoration: none;
  border: 1px solid var(--branding-color);
}
.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
  transition: all 200ms ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-color: var(--branding-color);
}
.img-city {
  padding: 15px 100px 15px;
  background-color: var(--background-color);
}
.img-weather-app {
  padding: 40px;
  background: var(--background-color);
}
.project-description {
  padding-left: 60px;
  margin-top: 50px;
}
.image-about-page {
  max-width: 20em;
}
.image-about-contact-page {
  max-width: 27em;
}
.email-link {
  text-decoration: none;
  color: black;
}
.email-link:hover {
  text-decoration: none;
  color: #054273;
}
.linkedin-link,
.instagram-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: larger;
}
.linkedin-link:hover {
  text-decoration: none;
  color: #054273;
  font-size: larger;
}
.linkedin-image,
.instagram-image {
  max-width: 27px;
}
footer {
  margin: 50px 0;
}
footer .email-link {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 18px;
  font-size: 22px;
  border-radius: 50%;
}
footer .social-links a:hover {
  opacity: 0.7;
}
#work-page {
  background-color: white;
  border: 5px solid var(--secondary-color);
  border-radius: 3px;
  margin: 50px auto;
  padding-top: 20px;
  padding-bottom: 0;
}
@media (max-width: 992px) {
  h1 {
    font-size: 45px;
    padding-top: 30px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 0 20px;
    padding-left: 0;
    margin-top: 0;
  }
  .hero p {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #202020;
  }
  .hero h2 {
    font-size: 30px;
  }
  .portfolio-image {
    max-width: 600px;
    width: 70%;
    margin: 0;
  }
  .col-lg-4 {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    padding: 0 30px;
  }
  .project-description {
    padding: 0;
    text-align: center;
    margin: 0;
  }
  .btn-branding-outline {
    margin-bottom: 20px;
  }
  .p-outline {
    margin-bottom: 30px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  .about-section h1 {
    font-size: 50px;
  }
  .image-about-page {
    max-width: 15em;
    padding-bottom: 30px;
  }
}
